<server description="defaultServer">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <!--<feature>jdbc-4.3</feature>-->
    </featureManager>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password" />
    </basicRegistry>

    <keyStore id="defaultKeyStore" password="password" />

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <webApplication location="SmileHub.war" contextRoot="/"/>

    <!-- Configuración de salidas de log del server -->
    <logging consoleFormat="SIMPLE" consoleLogLevel="INFO" />
    <logging messageFormat="TBASIC" messageLogLevel="INFO" />
    <!--logging traceFormat="ENHANCED" traceSpecification="*=all" /-->
    <logging  traceSpecification="JPA=all" />

    <!-- Configuración del datasource para comunicación de bd-->
    <dataSource jndiName="jdbc/SmileHubDS">
        <jdbcDriver id="postgres-driver" libraryRef="jdbcLib"/>
        <properties.postgresql serverName="${db.server.name}"
                               portNumber="${db.port.number}"
                               databaseName="smilehub"
                               user="smilehubUser"
                               password="smileUser2525"/>
    </dataSource>

    <!-- Referencia al driver JDBC de Postgres -->
    <library id="jdbcLib">
        <fileset dir="${driver.jdbc.dir}" includes="postgresql-*.jar"/>
    </library>
</server>
